/* Reset de márgenes y rellenos para asegurar que no haya espacios no deseados */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sauce Sans', sans-serif;
  background: linear-gradient(90deg, #ff5757, #8c52ff); /* Fondo de gradiente */
}

#__next {
  height: 100%; 
}

* {
  box-sizing: border-box; 
}

.container {
  position: relative;
  transition: opacity 1s ease-in-out; 
  opacity: 1;
}

.container.exiting {
  opacity: 0; 
}

